@page "/p"
@inject IRequestService _request
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">


@if (CardDeck is null)
{

    <p> loading..</p>
}
else
{
    <div class="row">

        @foreach (var card in CardDeck)
        {
            <CardComponent CardInDeck="card" />
        }

    </div>

}







@code {

    private IEnumerable<Card> CardDeck;
    protected override async Task OnInitializedAsync()
    {
        CardDeck = await _request.GetNewDeck();
    }

}