@page "/"
@inject IRequestService _request
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">


@if (CardDeck is null)
{

    <p> loading..</p>
}
else
{
    @if (!GameStarted)
    {
        <div class="wrap" style="width:100%">
            <div>
                <div class="wrap" style="width: 100%" align="center">

                    <button class="button" @onclick="(() => StartGame())">Start Game</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">

            @foreach (var card in FiveCard)
            {
                <CardComponent CardInDeck="card" column="4" />

            }
        </div>
        <RadzenButton Click=@(args => OnClick()) Text="Replace Cards" Icon="refresh" ButtonStyle="ButtonStyle.Success" />
    }
}







@code {

    private List<Card> CardDeck;
    private List<Card> FiveCard;
    private bool GameStarted = false;
    private int cardsToReplace;

    protected override async Task OnInitializedAsync()
    {
        CardDeck = await _request.GetNewDeck();
    }
    private void StartGame()
    {
        FiveCard = CardDeck.Take(5).ToList();

        GameStarted = true;
    }
    private void OnClick()
    {
        cardsToReplace = FiveCard.Count(x=> x.IsChecked);
        FiveCard.RemoveAll(x => x.IsChecked.Equals(true));
        CardDeck.RemoveAll(x => x.IsChecked.Equals(true));
        FiveCard =
    }

}